<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/head'); %>

  <body class="container">
    <%- include('../layouts/header', {pagina: 'Sobre'} ); %>
      <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Oi sou Gabriel, estudante de programação na RocketSeat!</p>
      </div>
    </main>
    <%- include('../layouts/footer'); %>
  </body>

</html>